/*
 * jsTree corral theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree-corral li, 
.jstree-corral ins {
    background-image: url("d.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.jstree-corral li {
    background-position: -90px 0;
    background-repeat: repeat-y;
}

.jstree-corral li.jstree-last {
    background: transparent;
}

.jstree-corral .jstree-open > ins {
    background-position: -72px 0;
}

.jstree-corral .jstree-closed > ins {
    background-position: -54px 0;
}

.jstree-corral .jstree-leaf > ins {
    background-position: -36px 0;
}

.jstree-default li .HiddenNode a {
    color: #999 !important;
}

.jstree-corral .jstree-hovered {
    background: #e7f4f9;
    border: 1px solid #e7f4f9;
    padding: 0 2px 0 1px;
}

.jstree-corral .jstree-clicked {
    background: navy;
    border: 1px solid navy;
    padding: 0 2px 0 1px;
    color: white;
}

.jstree-corral a .jstree-icon {
    background-position: -56px -19px;
}

.jstree-corral .jstree-open > a .jstree-icon {
    background-position: -56px -36px;
}

.jstree-corral .jstree-leaf > a .jstree-icon {
    background-position: -73px -36px;
}

.jstree-corral a.jstree-loading .jstree-icon {
    background: url("throbber.gif") center center no-repeat !important;
}


.jstree-corral.jstree-focused {
    background: white;
}


.jstree-corral .jstree-no-dots li, 
.jstree-corral .jstree-no-dots .jstree-leaf > ins {
    background: transparent;
}

.jstree-corral .jstree-no-dots .jstree-open > ins {
    background-position: -18px 0;
}

.jstree-corral .jstree-no-dots .jstree-closed > ins {
    background-position: 0 0;
}

.jstree-corral .jstree-no-icons a .jstree-icon {
    display: none;
}


.jstree-corral .jstree-search {
    font-style: italic;
}


.jstree-corral .jstree-no-icons .jstree-checkbox {
    display: inline-block;
}

.jstree-corral .jstree-no-checkboxes .jstree-checkbox {
    display: none !important;
}

.jstree-corral .jstree-checked > a > .jstree-checkbox {
    background-position: -38px -19px;
}

.jstree-corral .jstree-unchecked > a > .jstree-checkbox {
    background-position: -2px -19px;
}

.jstree-corral .jstree-undetermined > a > .jstree-checkbox {
    background-position: -20px -19px;
}

.jstree-corral .jstree-checked > a > .jstree-checkbox: hover {
    background-position: -38px -37px;
}

.jstree-corral .jstree-unchecked > a > .jstree-checkbox: hover {
    background-position: -2px -37px;
}

.jstree-corral .jstree-undetermined > a > .jstree-checkbox: hover {
    background-position: -20px -37px;
}

#vakata-dragged.jstree-corral ins {
    background: transparent !important;
}

#vakata-dragged.jstree-corral .jstree-ok {
    background: url("d.png") -2px -53px no-repeat !important;
}

#vakata-dragged.jstree-corral .jstree-invalid {
    background: url("d.png") -18px -53px no-repeat !important;
}

#jstree-marker.jstree-corral {
    background: url("d.png") -41px -57px no-repeat !important;
}


.jstree-corral a.jstree-search {
    color: aqua;
}

#vakata-contextmenu.jstree-corral-context, 
#vakata-contextmenu.jstree-corral-context li ul {
    background: #f0f0f0;
    border: 1px solid #979797;
    -moz-box-shadow:  1px 1px 2px #999;
    -webkit-box-shadow:  1px 1px 2px #999;
    box-shadow:  1px 1px 2px #999;
}

#vakata-contextmenu.jstree-corral-context li {
}

#vakata-contextmenu.jstree-corral-context a {
    color: black;
}

#vakata-contextmenu.jstree-corral-context a: hover, 
#vakata-contextmenu.jstree-corral-context .vakata-hover > a {
    padding: 0 5px;
    background: #e8eff7;
    border: 1px solid #aecff7;
    color: black;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#vakata-contextmenu.jstree-corral-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-corral-context li.jstree-contextmenu-disabled a: hover {
    color: silver;
    background: transparent;
    border: 0;
    padding: 1px 4px;
}

#vakata-contextmenu.jstree-corral-context li.vakata-separator {
    background: white;
    border-top: 1px solid #e0e0e0;
    margin: 0;
}

#vakata-contextmenu.jstree-corral-context li ul {
    margin-left: -4px;
}


/* TODO: IE6 support - the `>` selectors */
